.homeNav{
  /* height: 530px; */
  /* height: 100px; */
  background-image: url("../../components/asset/build.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  opacity: .898;
  background-attachment: fixed;
  
}
.homeContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
  .homeTitle{
    width: 1024px;
    font-size: 20px;
  }

  /* Responsive styles */
  
  @media only screen and (max-width: 768px) {
    .homeTitle {
      width: 100%; /* Make the title take up the full width on smaller screens */
      text-align: center; /* Center the text on smaller screens */
    }
  }